table {
  width: 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  height: 100vh;
  background: rgba(0, 0, 0, 0.03);

  span {
    font-size: 1.125rem;
    color: #605f5f;
    font-weight: 300;
  }
}
